.editprofile {
  min-height: 100%;
  max-height: 100vh;
  height: auto;
  overflow: auto;
  font-family: Lexend, sans-serif;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
}

.editprofileheader {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: row;
  justify-content: space-between;
}

.editprofileheadcontent {
  display: flex;
  gap: 20px;
  align-items: center;
  color: var(--text-primary);
  cursor: pointer;
}

.editprofileheadcontent h1 {
  font-size: 30px;
  padding-top: 20px;
  font-family: Lexend, sans-serif;
}

.editprofileback {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d5dcf7;
  transition: 0.2s;
}

.editprofileback:hover {
  cursor: pointer;
  transition: 0.6s;
  box-shadow: 3px 2px 12px rgba(66, 164, 255, 0.24);
}

.editprofileback img {
  width: 30px;
  height: 30px;
  padding: 5px;
}

.editprofile p {
  font-size: 20px;
  font-weight: 300;
  color: var(--primary-blue);
  font-family: Lexend, sans-serif;
  font-start: none;
}

.editprofilecontent {
  margin-top: 20px;
}

.editprofilecontent label {
  font-size: 16px;
  color: #5c5c5c;
  font-family: Lexend, sans-serif;
  font-style: normal;
}

.editprofilesec input {
  width: 220px;
  height: 40px;
  background: #25262b;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 0 10px;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 10px;
  outline: none;
}

.editprofilesec {
  max-width: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  align-items: center;
  flex-direction: row;
}

.githublogo {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
  color: #5c5c5c;
  /* align-items: center; */
}

.editprofile::-webkit-scrollbar {
  display: none;
}

.edit-about {
  display: flex;
  flex-direction: column;
}

.edit-about textarea {
  min-height: 120px;
  max-height: 200px;
  margin-bottom: 10px;
  background: #25262b;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 18px;
  color: #ffffff;
  overflow: auto;
  resize: vertical;
  width: 95%;
}

.editprofilesec2 input {
  width: 200px;
  height: 40px;
  background: #25262b;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 0 10px;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 10px;
  outline: none;
}

.editprofilesec2 {
  max-width: 100%;
  width: 100%;
  grid-gap: 10px;
  align-items: center;
  flex-direction: column;
}

.edit-achievements input, .edit-experience input, .edit-projects input {
  margin-bottom: 10px;
  background: #25262b;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 18px;
  color: #ffffff;
  overflow: auto;
  resize: vertical;
  width: 95%;
}

.editlists {
  padding: 20px;
  background: linear-gradient(
    253.09deg,
    rgba(25, 36, 59, 0.25) -7.53%,
    rgba(208, 208, 208, 0.085) 97.04%
  );
  border-radius: 10px;
  border: 1px solid rgba(208, 208, 208, 0.085);
  width: 93%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 10px;
}

.editlisted {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.edit-submit-btn {
  padding: 10px 24px;
  background: linear-gradient(123.28deg, #306bff 4.69%, #040e3a 289.88%);
  color: var(--text-primary);
  border-radius: 5px;
  margin-top: 20px;
  transition: 0.2s;
  cursor: pointer;
  width: 100px;
}

.edit-submit-btn:hover {
  box-shadow: 3px 2px 12px rgba(66, 164, 255, 0.24);
  transition: 0.3s;
  cursor: pointer;

}
